.Login {
    width: 100%;
    height: 100%;
    position: relative;
}
.LoginForm {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginBT {
    width: 100%;
}