.Report {
  position: relative;
  width: 700px;
  margin: 0 auto;
}
h1 {
  float: left;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 45px;
}
h2 {
  clear: both;
  float: left;
}
.addBtn {
  clear: both;
  float: right;
  margin-top: 10px;
}
.sendBtn {
  float: right;
  margin-top: 15px;
}