.mailForm {
    clear: both;
    float: left;
    width: 100%;
}
.mailFormWrap {
    clear: both;
    float: left;
    width: 100%;
    padding: 6px;
    border: 1px solid #dadada;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mailTitle {
    clear: both;
    float: left;
}
.mailContent {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 6px;
}
.mailBtnWrap {
    float: right;
}
.mailBtnWrap button {
    clear: both;
    float: left;
    margin-top: 10px;
}