.workContent {
    clear: both;
    float: left;
    width: 100%;
}
.workReportWrap {
    clear: both;
    float: left;
    width: 100%;
    padding: 6px;
    border: 1px solid #dadada;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.timeWrap {
    float: left;
    margin-left: 15px;
}
.timeTitle {
    display: inline-block;
    margin-right: 6px;
    text-align: right;
}
.timeWrap .ant-time-picker {
    width: 112px;
}
.textContent {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.useTimeWrap {
    float: right;
    margin-top: 30px;
}